<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
    bootstrap="vendor/autoload.php"
    >
    <php>
        <!-- API Keys -->
        <server name="TRIPOLIS_API_URL" value="YOUR_API_URL" />
        <server name="TRIPOLIS_API_USERNAME" value="YOUR_API_USERNAME" />
        <server name="TRIPOLIS_API_KEY" value="YOUR_API_KEY" />
        <server name="TRIPOLIS_CONTACT_DATABASE_ID" value="YOUR_CONTACT_DATABASE_ID" />
        <server name="TRIPOLIS_CONTACT_GROUP_SUBSCRIBERS_NAME" value="YOUR_CONTACT_GROUP_SUBSCRIBERS_NAME" />
        <server name="TRIPOLIS_CONTACT_GROUP_UNSUBSCRIBERS_NAME" value="YOUR_CONTACT_GROUP_UNSUBSCRIBERS_NAME" />
    </php>
    <testsuites>
        <testsuite name="Tripolis Test Suite">
            <directory>./test/Tripolis</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./lib/Tripolis</directory>
        </whitelist>
    </filter>
</phpunit>
